body {
    background-image: url("https://www.solidbackgrounds.com/images/website/560x315/560x315-abstract-ice-water-free-website-background-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Style the button container as a 3x3 grid */
.button-container {
    display: grid;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 45px;
    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    gap: 10px; /* Gap between buttons */
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
    height: 500px; /* Make the container take up the full viewport height */
}

/* Style the buttons */
.matrix-button {
    padding: 45px 45px;
    margin-left: 30px;
    margin-right:30px;
    background-color: #007BFF; /* Button background color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 130px;
}

/* Hover effect for the buttons */
.matrix-button:hover {
    background-color: #0056b3; /* Darker color on hover */
}

/* Styling for the button */
.button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.dialog-box {
display: none;
width: 300px;
padding: 20px;
border: 1px solid #ccc;
background-color: #fff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.option {
    background-color: #c2c5cc;
    border-radius: 100px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: cursive;
}
